@import "_fonts";
@import "_variables"; 

* {
    font-family: "Source Sans Pro";
    color: $col-text;
}
a {
    color: $col-main;
    &:hover {
        
        color: $col-main;
    }
}
.header {
}
.header-top {
    height: 3rem;
    background-color: $col-header;
    font-size: 12px;

		&__info {
		}

		&__email {
		}

		&__tel {
		}

		&__social {
		}

		&__list {
            list-style-type: none;
		}

		&__item {
            &:hover {
                
                outline: none;
            }
            &:focus {
                
                outline: none;
            }
            &:active {
                
                outline: none;
            }
            & i:hover {
                color: $col-sec;
                
            }
            & i:focus {
                color: $col-sec;
                
            }
            & i:active {
                color: $col-sec;
                
            }
		}

		&__link {

		}
}

.header-main {
    height: 6.6rem;

    &__logo {
    }

    &__nav {
    }

    &__list {
        list-style: none;
    }

    &__item {
    }

    &__link {
        color: $col-main;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;

        position: relative;
        transition: 0.3s;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 100%;
            bottom: -10px;
            background-color: $col-sec;
            height: 1px;
            transition: 0.3s;
            
        }
        &:hover::before {
            right: 0;
        }
        &:focus::before {
            right: 0;
        }
        &:active::before {
            right: 0;
        }

        &:hover {
            text-decoration: none;
            color: $col-sec;
        }
        &:focus {
            text-decoration: none;
            color: $col-sec;
        }
        &:active {
            text-decoration: none;
            color: $col-sec;
        }
    }

    &__search {
        font-size: 12px;
    }
    &__btn {
        
        background: none;
        border: none;
        &:hover {
            outline: none;
            color: $col-sec;
        }
        &:focus {
            outline: none;
            color: $col-sec;
        }
        &:active {
            outline: none;
            color: $col-sec;
        }
        & i:hover {
            
            color: $col-sec;
        }
        & i:focus {
            
            color: $col-sec;
        }
        & i:active {
            
            color: $col-sec;
        }
    }
}

.banner {
    height: 880px;
    background:$col-main url('../img/bg.png') 0 0 / cover no-repeat;
    //background-color: $col-main;
    &__content {
    }
    &__text {
        height: 35%;
        width: 60rem;
    }
    &__title {
        color: $col-white;
        font-family: "Lato";
        font-size: 78px;
        font-weight: 900;
        letter-spacing: 4.68px;
        line-height: 88px;
        text-transform: uppercase;

    }

    &__subtitle {
        color: #9dabbb;
        font-family: "Lato - Black";
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0.48px;
        line-height: 33px;
        
    }

    &__btn {
        padding: 1.5rem 5rem;
    }
}
.button-main {
    color: $col-white;
    background-color: $col-sec;
    border: none;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);

    position: relative;
    overflow: hidden;
    
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1.5em;
        height: 100%;
        background-color: rgba(#fff, 0.6);
        transform: translateX(-4em) skewX(-45deg);
        animation: move-light 3.5s linear infinite;
        
    }
    &:hover,&:focus,&:active {
        outline: none;
        animation: main-button 1s linear infinite;
    }
}
.about {

    &__top {
        height: 18rem;
    }

    &__text {
    }

    &__bottom {
        height: 23rem;
    }

    &__list {
        list-style-type: none;
    }

    &__item {
    }

    &__icon {

    }

    &__content {
    }
}

.desc-block {
    width: 48rem;
    &__title {
        color: $col-main;
        font-family: Lato;
        font-size: 44px;
        font-weight: 700;
        letter-spacing: 0.44px;
        line-height: 54px;
    }

    &__subtitle {
        font-size: 22px;
        font-weight: 400;
    }
}
.cards {

    &__title {
        font-family: Lato;
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 0.52px;
        line-height: 34px;
    }
    &__subtitle {
        font-size: 16px;
        letter-spacing: 0.16px;
        line-height: 25px;
    }
}
.works {
    background-color: $col-header;
    height: 1270px;

    &__content {
    }

    &__top {
        height: 306px;
    }

    &__slider {
        height: (1270px-306px);
    }
}
.call {
    height: 483px;

    &__btn {
        font-size: 15px;
        padding: 1rem 1.7rem;
    }
}






::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: $col-sec;
}

@keyframes move-light {
    0% {
        transform: translateX(-4em) skewX(-45deg);
    }
    10%, 100% {
        transform: translateX(20em) skewX(-45deg);
    }
}
@keyframes main-button {
    25% {
        transform: scale(1.1);
    }
    75% {
        transform: scale(0.9);
    }
}