@import "_fonts";
@import "_variables"; 
@import "_mixins"; 

body {
    font-family: "Source Sans Pro";
}
/*info section*/
.header-top {
    font-size: .75rem;
    background-color: $col-header;
    min-height: 4vh;
		&__social {
            background-color: $col-header;
        }
        &__item {    
            color: $col-main;
            height: 4vh;
            transition: $anim-time;

            &:hover:nth-child(1), &:active:nth-child(1), &:focus:nth-child(1){
                background-color: #4668b3;
                color: $col-white;
                text-decoration: none;
                outline: none;
            }

            &:hover:nth-child(2), &:active:nth-child(2), &:focus:nth-child(2){
                background-color: #de5745;
                color: $col-white;
                text-decoration: none;
                outline: none;
            }
            &:hover:nth-child(3), &:active:nth-child(3), &:focus:nth-child(3){
                background-color: #2fbbed;
                color: $col-white;
                text-decoration: none;
                outline: none;
            }
            &:hover:nth-child(4), &:active:nth-child(4), &:focus:nth-child(4){
                background-color: #d94348;
                color: $col-white;
                text-decoration: none;
                outline: none;
            }
            &:hover:nth-child(5), &:active:nth-child(5), &:focus:nth-child(5){
                background-color: #3079ff;
                color: $col-white;
                text-decoration: none;
                outline: none;
            }
            &:hover:nth-child(6), &:active:nth-child(6), &:focus:nth-child(6){
                background-color: #eb6397;
                color: $col-white;
                text-decoration: none;
                outline: none;
            }

        }
}

.header-info {
    color: $col-main;
    transition: $anim-time;


		&__email {
            color: $col-main;
            transition: $anim-time;
            &:hover,&:focus,&:active {
                color: $col-sec;
                text-decoration: none;
                outline: none;
            }
		}

		&__tel {
            color: $col-main;
            transition: $anim-time;
            &:hover,&:focus,&:active {
                color: $col-sec;
                text-decoration: none;
                outline: none;
            }
        }
    
    &:hover,&:focus,&:active {
        color: $col-sec;
    }
}

//menu
.header {
    background-color: #fff;
    padding: 2vh 0;
    
    &__toggler {
        border: none;
        background: transparent;

        &:focus {
            outline: none;
        }


        &>.header__icon {
            width: 22px; 
            height: 2px;
            background-color: #B6B6B6;
            display: block;
            transition: all 0.2s;
            margin-top: 4px;

            &:nth-child(1){
                transform: rotate(45deg);
                transform-origin: 10% 10%;
            }
            &:nth-child(2){
                opacity: 0;
            }
            &:nth-child(3){
                transform: rotate(-45deg);
                transform-origin: 10% 90%;
            }
        }
        &.collapsed>.header__icon {
            &:nth-child(1){
                transform: rotate(0);
            }
            &:nth-child(2){
                opacity: 1
            }
            &:nth-child(3){
                transform: rotate(0);
            }
        }
    }

    &__logo {
        &:hover,&:focus,&:active {
            outline: none;
        }
    }
    &__link {
        color: $col-main;
        font-size: 0.9rem;
        font-weight: 700;
        text-transform: uppercase;

        transition: $anim-time;

        &:hover,&:focus,&:active {
            color: $col-sec;
            background-color: $col-header;
            border-radius: .3rem;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            outline: none;
        }
    }
}


.drop-head {
    background-color: $col-header;
    border: none;
    margin: 0;
    border-radius: .3rem;

    &__item {
        color: $col-main;
        font-size: 0.9rem;
        font-weight: 700;
        
        text-transform: uppercase;
        transition: $anim-time;
        padding: 0.5rem 1.5rem;

        &:hover,&:focus,&:active {
            background-color: $col-sec;
            color: $col-white;
        }
    }
}



//search in main nav
.search-focus {
    position: relative;
    width: 15rem;
    vertical-align: middle;
    white-space: nowrap;
    
    &>#search-focus__bar {
        // margin-left: auto;
        width: 1rem;
        height: 100%;
        background: #fff;
        border: 1px solid transparent;
        font-size: .8rem;
        float: left;
        color: #262626;
        padding-left: 2.1rem;
        border-radius: .3rem;
        color: #000;

        transition: width .55s ease;

        &:focus,&:active {
            border-color: $col-sec;
            width: 15rem;
            outline: none;
        }
    }
    &:hover>#search-focus__bar{
        border-color: $col-main;
        width: 15rem;
    }
    &>#search-focus__icon {
        position: absolute;
        right: calc(12% - .8rem);
        z-index: 1;
        color: $col-main;
        background-color: transparent;
        border: none;
        transition: $anim-time;
        
        @media only screen and (max-width: 768px) {
            left: 0;
            top: -18%;
        }
        &:hover,&:focus,&:active {
            outline: none;
            color: $col-sec;
        }
    }
}
//Hero
.main-button {
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    color: #fff;
    // border-radius: 0.3rem;
    background-color: #00bc9c;
    border: none;
    padding: 1rem 3rem;

    position: relative;
    overflow: hidden;
    
    &::before {
       content: ''; 
       position: absolute;
       top: 0;
       left: 0;
       width: 1.5em;
       height: 100%;
       background-color: rgba($col-white, 0.5);

       transform: translateX(-4em) skewX(-45deg);

       animation: move-light 4s infinite;
    }
    &:hover,&:focus,&:active {
        outline: none;
    }


}

.hero {
    &__item {
        min-height: 86vh;
        background:$col-main url('../img/bg.png') center center /cover  no-repeat;

        @media only screen and (max-height: 600px){
           min-height: 120vh
        }
    }

    &__indicators{

        &>li {
            border-radius: 100%;
            width: 1rem;
            height: 1rem;
            
            &.active {
                background-color: $col-sec;
            }
        }
    }
    
	&__title {
        font-family: "Lato";
        font-size: 4.9rem;
        font-weight: 900;
        line-height: 4rem;
        letter-spacing: 4.68px;
        text-transform: uppercase;
        color: $col-white;

        @media only screen and (max-width: 768px) {
            font-size: 3rem;
        }
	}

	&__subtitle {
        margin: 0 5rem 2rem;
        font-size: 1.5rem;
        letter-spacing: 0.48px;
        line-height: 2rem;
        color: #a3b1bf;

        @media only screen and (max-width: 768px) {
            font-size: 1.2rem;
        }
        @media only screen and (max-height: 721px){
            margin: 0 5rem .2rem;
        }
    }

    &__button {
        transition: $anim-time;
        transition-delay: 0.6s;
        &>span {
            display: block;
            position: absolute;
            background-color: $col-white;
            
            

            &:nth-child(1) {
                left: 0;
                bottom: 0;
                width: 3px;
                height: 100%;
                transform: scaleY(0);
                transform-origin: top;
                transition: transform $anim-time;

            }

            &:nth-child(2) {
                left: 0;
                bottom: 0;
                width: 100%;
                height: 3px;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform $anim-time;

            }
            &:nth-child(3) {
                right: 0;
                bottom: 0;
                width: 3px;
                height: 100%;
                transform: scaleY(0);
                transform-origin: top;
                transition: transform $anim-time;
                transition-delay: $anim-time;
            }
            &:nth-child(4) {
                left: 0;
                top: 0;
                width: 100%;
                height: 3px;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform $anim-time;
                transition-delay: $anim-time;
            }
        }
        &:hover,&:focus,&:active {
            background-color: transparent;
            &>span:nth-child(1) {
                transform: scaleY(1);
                transform-origin: bottom;
                transition: transform $anim-time;
                
            }
            &>span:nth-child(2) {
                transform: scaleX(1);
                transform-origin: left;
                transition: transform $anim-time;
                
            }
            &>span:nth-child(3) {
                transform: scaleY(1);
                transform-origin: bottom;
                transition: transform $anim-time;
                transition-delay: $anim-time;
            }
            &>span:nth-child(4) {
                transform: scaleX(1);
                transform-origin: left;
                transition: transform $anim-time;
                transition-delay: $anim-time;
            }
        }

        @media only screen and (max-height: 721px){
            font-size: 1rem;
            padding: .8rem 1.8rem;
        }
    }

}
//about us

.about {

    &__top {
        min-height: 35vh;
    }
    &__text {
        min-height: 22vh;
        
    }

    &__main {
        min-height: 55vh;
    }
    &__content {
    }
  
}
.card-cont {
    list-style-type: none;
    
    &__logo {
        width: 3rem;  
    }

    &__icon {
        color: $col-sec;
    }
    &__text {
        width: 17rem;
        @media only screen and (max-width: 768px) {
            width: 100%;
        }

    }
    &__title {
        color: $col-main;
        font-family: Lato;
        font-size: 1.6rem;
        letter-spacing: 0.52px;
        font-weight: 700;
        line-height: 2.1em;
        @media only screen and (max-width: 768px) {
            font-size: 3rem;
        }
    }

    &__subtitle {
        color: $col-text;
        letter-spacing: 0.16px;
        line-height: 1.5em;
        font-size: 1rem;
        @media only screen and (max-width: 768px) {
            font-size: 1.5rem;
        }
    }
}

.text-block {

    &__title {
        color: $col-main;
        font-family: Lato;
        font-size: 2.7rem;
        font-weight: 700;
        letter-spacing: 0.44px;
        line-height: 3.3rem;
    }

    &__subtitle {
        color: $col-text;
        font-size: 1.3rem;
        letter-spacing: 0.22px;
        line-height: 2.1rem;
    }
}
//Last Works

.works {
    background-color: $col-header;

    &__top {
        min-height: 30vh;
    }

    &__text {
        min-height: 15vh;
    }

    &__main {
        padding-top: 5vh;
    }
    &__item {
        margin: 1vh 0;
        padding: 0;
    }
    &__min {
        
        padding-top: 5vh;
    }
}
.card-slide {
    background-color: $col-white;
    
    list-style-type: none;
    overflow: hidden;
    min-height: 40vh;
    &__img {
        color: transparent;
        height: 70%;
        width: 100%;
        
        &_fir{
            background:$col-sec url('../img/works-block-1.png') center center /cover  no-repeat;
        }
        &_sec{
            background:$col-sec url('../img/works-block-2.png') center center /cover  no-repeat;
        }
    }
    &__text {
        height: 30%;
    }
    &__title {
        color: $col-main;
        font-family: Lato;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 0.44px;
        line-height: 1.6em;
    }

    &__subtitle {
        color: $col-text;
        font-size: 0.8rem;
        letter-spacing: 0.28px;
        line-height: 1.1rem;
    }
}


.card-min {

    color: transparent;

	&__item {
        min-height: 12vh;
        list-style-type: none;
        &:nth-child(1) {
            background:$col-sec url('../img/works-blockmin-1.png') center center /cover  no-repeat;
        }
        &:nth-child(2) {
            background:$col-sec url('../img/works-blockmin-2.png') center center /cover  no-repeat;
        }
        &:nth-child(3) {
            background:$col-sec url('../img/works-blockmin-3.png') center center /cover  no-repeat;
        }
        &:nth-child(4) {
            background:$col-sec url('../img/works-blockmin-4.png') center center /cover  no-repeat;
        }
	}
}

//Want to work
.want {
    background-color: $col-white;


    &__top {
        min-height: 30vh;
    }

    &__text {
    }
}







//scroll effects
::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: $col-sec;
}

//animations
@keyframes move-light {
    0% {
        transform: translateX(-4em) skewX(-45deg);
    }
    10%, 100% {
        transform: translateX(20em) skewX(-45deg);
    }
}
@keyframes main-button {
    25% {
        transform: scale(1.1);
    }
    75% {
        transform: scale(0.9);
    }
}